	<div class="row"><!-- summary introduction -->
		<div class="jumbotron">
		  <h1>Mentoring</h1>
		  <p> Knowledge, Experiences and Thoughts.</p>
		
		  </p>
		</div>
	</div>
	
	<div class="row">
			<div class="col-md-12">

					   <table width="100%">
					     <tr>
					     	<td align="center">
					     	<h3 class="text text-danger"><a class="btn btn-lg btn-warning" href="/ideas">Ideas</a></h3>
					     	</td>
					     	<td align="center">
					     	<h3 class="text text-success"><a class="btn btn-lg btn-success" href="/cases/list">Cases</a></h3>
					     	</td>
					     	<td align="center">
					     	<h3 class="text text-success"><a class="btn btn-lg btn-primary" href="/pages">Pages</a></h3>
					     	</td>					     						     	
					     </tr>
					     <tr>
					     	<td align="center" class="text text-primary">
								<p>Do you have any idea? Any!</p>
								<p>Good!</p>
								<p>Let's talk about it!</p>
								<p>Maybe make it happened!</p>					     	
					     	</td>
					     	<td align="center" class="text text-primary">
								<p>Analyze an IDEA, PROJECT or ISSUE with consulting other people.</p>
								<p>Or share your solution on any kinds of cases by showing a process.</p>
								<p>Or launch a project and invite other people to finish it by co-operation</p>
								<p>Even record any phase and check list for you daily tasks or make a plan and trace it.</p>					     	
					     	</td>
					     	<td align="center" class="text text-primary">
								<p>What's my favorite?</p>
								<p>What do I suppose to do? </p>
								<p>How should I do?</p>
								<p>Maybe start a page!</p>
								<p>"Be the change you want to see in the world!"</p>					     	
					     	</td>
					     </tr>

					   </table>
			</div>					 

		</div>
