		
      <form class="form-signin" action="/signup" method="post">
        
        <div class="form-group"> 
        <label for="userName" class="sr-only">User Name</label>
        <input type="input" id="username" name="username" class="form-control" placeholder="User Name" required autofocus>
        </div>
        <div class="form-group"> 
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="email" name="email" class="form-control" placeholder="Email address" required>
        </div>
        <div class="form-group"> 
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        </div>
        <div class="form-group"> 
        <label for="inputPassword" class="sr-only">Confirm Password</label>
        <input type="password" id="cpassword" name="cpassword" class="form-control" placeholder="Confirm Password" required>
        </div>        
        <button class="btn btn-lg btn-success btn-block" type="submit">Sign Up</button>
        <br> Have a existed account? <a href="#login">SignIn</a>
      </form>